chemicalSystem =
{
    name = "H2";

    atoms =
    (
        {
        basis = "atom_1_basis_STO-3G.tm";
        position = [0.0,    0.0,    0.0];
        }

    )

}

generatorSettings=
{
    dr  = 2.0;

    Nx = 2;
    Ny = 2;
    Nz = 2;

    # "fcc"
    # "c"
    lattice = "c";

    # "none"
    # "uniform"
    # "normal"
    velocityDistribution = "none";

};
dynamicSettings =
{
    nSteps = 1000;
    stepSize = 10.0;
    frictionConstant = 0.0;
};


solverSettings =
{
    # 0 = "Restricted HF"
    # 1 = "Unrestricted HF"
    method = 1;

    maxNumOfIteration = 1000000;
    dampingFactor     = 0.0;


    DIISprocedureSettings =
    {
        # 0 = "off"
        # 1 = "on"
        useDIISprocedure = 0;

        iterationLimit = 20;
        nTerms         = 3;

    };

};



fileManagerSettings=
{
    saveResults = 1;
    #outputFilePath = "/home/milad/kurs/qmd/benchmark/N2/STO-3G"
    outputFilePath = "/home/milad/kurs/qmd/tmpData"
};


analysisSettings=
{
    saveResults = 0;
 #   outputFilePath = "/home/milad/Dropbox/qmd/hartreeFock/hf/DATA/benchmark/O2/rhf"
    outputFilePath = "/home/milad/kurs/qmd/tmpData"

    saveEnergies = 1;
    dipoleMoment = 1;
    atomicPartialCharge = 1;
    electrostaticPotential = 1;
    chargeDensity = 0;
};

